#cuerpomain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 1.5em;
}

#texto1{
    text-align: justify;
    height: auto;
    width: 50%;
}

#img1{
    height: auto;
    width: 50%;
    text-align: center;
}

#texto2{
    height: auto;
    width: 50%;
}

#img2{
    width: 50%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

@media (max-width:600px) {
    #cuerpomain{
        flex-direction:column;
    }
    #texto1,#img1{
        width: 100%;
    }
}

ul{
    text-align: left;
    padding-left: 2em;
}


